@{
  Layout = "_Layout";
}

@model Registrar.Models.Student

<h2>Edit</h2>

<h4>Edit this task: @Html.DisplayFor(model => model.Name)</h4>
<div>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <!-- @Html.EditorFor(model => model.Date, new { @type = "date" }) -->

  <input type="submit" value="Save" />
}
</div>
<p>@Html.ActionLink("Back to list", "Index")</p>